// Image with caption
.postcard {
  margin: 10rem 0;

  // Caption
  p {
    // text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-style: italic;
  }
}

@media (max-width: 550px) {
  .postcard {
    padding-top: 1rem;
  }
}
