.profile {
	display: flex;
	align-items: center;
	margin-bottom: 5rem;
	
	.avatar {
		border-radius: 50%;
		height: 90px;
	}
	
	.signature {
		height: 50px;
		margin-left: 15px;
	}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.avatar {
		height: 110px;
	}

	.signature {
		height: 90px;
	}
}
